# Generated Python files
*.pyc

# Files we produce while running
build/
dist/
MANIFEST
/venv
.cache/
.eggs/
*egg-info/

#IDE files
.idea
.vscode

#TierOnePointFive test files
config.json
/TestData/

